<div>
    <h1>Login</h1>
    <form id="loginForm">
        <label for="email">Email</label>
        <input type="email" name="email" placeholder="Email" />
        <br />

        <label for="password">Password</label>
        <input type="password" name="password" placeholder="Password" />
        <br />

        <button type="submit">Login</button>
        <a href="/register">¡Registrate en la Web aquí!</a>
</div>

<script src="js/login.js"></script>