<h1> Reset Password </h1>

<form id="resetPasswordForm">
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Email" />
  <br />

  <label for="password">New Password</label>
  <input type="password" name="password" placeholder="Password" />
  <br />

  <button type="submit">Reset Password</button>

</form>

<script src="js/resetPassword.js"></script>