<h1> Reset Password </h1>

<form id="resetPasswordForm">
  <label for="email">Email</label>
  <input type="email" name="email" placeholder="Email" />
  <br />

  <button type="submit">Send recuperation mail</button>

</form>

<script>
  const resetPasswordForm = document.getElementById("resetPasswordForm");
  resetPasswordForm.addEventListener("submit", (event) => {
  event.preventDefault(); const formData = new FormData(resetPasswordForm); let
  payload = {}; formData.forEach((value, key) => payload[key] = value );
  fetch("/api/sessions/resetPassword", { method: "POST", body:
  JSON.stringify(payload), headers: { "Content-Type": "application/json" } }) })
</script>